name: Build and Deploy Plot

on:
  push:
    branches: ["main"]

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:

      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Install dependencies
        run: |
          pip install numpy pandas plotly pyarrow


      - name: Run plotter
        run: |
          mkdir -p output
          python main.py data/datadump_11-6-whatisevenhappening.csv

      - name: Confirm output contents
        run: |
          echo "PWD: $(pwd)"
          echo "Repo contents:"
          ls -R .

      - name: Compress HTML files
        run: |
          echo "Compressing output/*..."
          cd output
          ls -l
          for f in *.html; do
            gzip -9 "$f"
          done

      - name: Upload artifact for GitHub Pages
        uses: actions/upload-pages-artifact@v3
        with:
          path: output

  deploy:
    needs: build
    runs-on: ubuntu-latest
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
